* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

body {
    font-family: Mulish;
}

nav {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    min-height: 100px;
}

.nav-logo {
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-logo img {
    width: 48px;
    height: 56px;
}

.nav-logo p {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.nav-logo p span {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.nav-items {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-items a {
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.nav-items a:hover {
    color: #FF5400;
    transition: .4s;
    font-weight: 700;
}


.banner {
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 1170px;
    height: 500px;
    margin: 0 auto;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    position: relative;
    z-index: 1;
    text-align: center;
}


.banner::before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}


.banner-content h2 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
}

.banner-content p {
    width: 676px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 24px;
    margin-left: 21%;

}

.selector {
    margin-top: 24px;
    width: 800px;
    margin-left: 180px;
    gap: 5px;
    padding: 16px 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);


}

.selector input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.5);
    background: #FFF;
    border-style: none;
    text-align: center;
    border: #FFF;

}

.selector select {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.5);
    background: #FFF;
    border-style: none;
    text-align: center;
    border: #FFF;

}

.selector button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    background: #FF5400;
    border: #FFF;
}

.popular-part {
    max-width: 1180px;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.text-con {
    width: 50%;

}

.text-con h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.text-con p {
    margin-top: 24px;
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.text-con ul li {
    margin-top: 24px;
    margin-left: 25px;
    width: 525px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.text-con button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    margin-top: 24px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
    font-family: Mulish;
}


.image-con {
    width: 50%;

}

.image-con img {
    margin-left: 40px;
    width: 540px;
    height: 550px;
    justify-content: space-between;
}


.destination {
    margin: 0 auto;
    max-width: 1250px;
    min-height: 500px;
}

.destination-text h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.destination-text p {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-left: 24%;
}

.destination-img {
    margin-top: 48px;
}



.destination-img ul {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
}

.destination-img li {
    cursor: pointer;
    position: relative;
}

.destination-img li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 16px;
}


.destination-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    border-radius: 16px;
}

.destination-img .overlay span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}


.choose-part {
    margin: 0 auto;
    max-width: 1250px;
    min-height: 500px;
    margin-top: 100px;
}

.choose-text h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.choose-text p {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-left: 24%;
}

.threebox {
    margin-top: 48px;
    display: flex;
    justify-content: space-around;
    /* gap: 24px; */
}

.firstbox {
    padding: 32px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.firstbox h3 {
    margin-top: 32px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.firstbox p {
    margin-top: 16px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 486px;
}


.secondbox {
    padding: 32px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.secondbox h3 {
    margin-top: 32px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.secondbox p {
    margin-top: 16px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 486px;
}


.thredbox {
    margin: 0 auto;
    margin-top: 50px;
    padding: 32px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.thredbox h3 {
    margin-top: 32px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.thredbox p {
    margin-top: 16px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 486px;
}



.loginpart {
    max-width: 1180px;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.login {
    padding: 40px;
    border: 1px solid #FF5400;
    border-radius: 16px;
    width: 40%;

}

.login h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;

}

.login p {
    width: 350px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 50px;
}

.login input {
    margin-bottom: 16px;
    padding: 16px 251px 16px 20px;
    border: none;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;

}

.login button {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
}

.login button:hover {
    font-weight: 600;
    cursor: pointer;
}


.log-img {
    width: 58%;
}

.log-img img {
    width: 672px;
    height: 422px;
    border-radius: 16px;
}


.lastpart {
    padding: 100px;
    background: rgba(19, 19, 24, 0.05);
    height: 502px;

}

.lastpart p {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.lasttext {

    display: flex;
    justify-content: center;
    padding: ;
}


.lasttext img {
    width: 48px;
    height: 56px;
}

.lasttext h2 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.lasttext h2 span {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.lasttext p {
    width: 769px;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.icon {
    width: 174.322px;
    height: 24px;
}